@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.btn {
    @include m.btn(v.$black, v.$white);
}

.btn-delete {
    margin-left: auto;
    @include m.btn(v.$red, v.$white);

    &:hover {
        background-color: color.adjust(v.$red, $lightness: -7%);
    }
}

.btn-edit {
    @include m.btn(v.$green, v.$white!important);

    &:hover {
        background-color: color.adjust(v.$green, $lightness: -7%);
    }
}