@use 'base/variables' as v;
@use 'base/mixins' as m;

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; // Centra los elementos horizontalmente
    justify-content: center; // Centra los elementos verticalmente
}

.field {
    display: flex;
    flex-direction: column; // Cambia la dirección del flex a columna
    margin-bottom: 2rem;
    align-items: center; // Alinea los elementos al centro

    
    label {
        margin-bottom: 1rem; // Añade un margen inferior para separar el label del input
        text-align: center; // Centra el texto del label
        width: 100%; // Asegura que el label ocupe todo el ancho disponible
    }

    input {
        width: 100%; // Asegura que el input ocupe todo el ancho disponible
        text-align: center; // Centra el texto del input
        border: 2px solid v.$black;
        padding: calc(v.$spacing / 4);
        border-radius: 1rem;
        margin-bottom: 1rem;
        @include m.phone {
            width: 30rem;
        }

        &::placeholder {
            text-align: center; // Centra el texto del placeholder
        }

        &:disabled {
            cursor: not-allowed;
        }
    }

    .name-input {
        border: none;
        border-radius: 0;
        border-bottom: 2px solid v.$black;
        font-weight: v.$bold;
        pointer-events: none;           // Desactiva todos los eventos del ratón
        -webkit-touch-callout: none;    /* iOS Safari */
        -webkit-user-select: none;      /* Safari */
        -khtml-user-select: none;       /* Konqueror HTML */
        -moz-user-select: none;         /* Old versions of Firefox */
        -ms-user-select: none;          /* Internet Explorer/Edge */
        user-select: none;              /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    }

}
