@use 'base/variables' as v;
@use 'base/mixins' as m;

.pagination {
    padding: 0;
    
    @include m.tablet {
        display: flex;
        padding: v.$spacing;
        justify-content: space-between;
        flex-wrap: wrap; // Permite que los elementos se envuelvan en múltiples líneas si es necesario
    }

    .space {
        visibility: hidden;
    }

    button {
        margin: 0 0 1rem 0;
        flex: 1 1 auto; // Permite que los botones se ajusten al espacio disponible
    }
}

.hidden {
    visibility: hidden;
}