// Fuentes
$primary_font: 'Lato', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$tabletXl: 900px;
$desktop: 1024px;

// Colores
$black: #191815;
$white: #FEFAFA;
$blue:#F1FAFF;
$creme: #FFF5EA;
$red: #F67272;
$green: #A8D5BA;


$spacing: 5rem;

// Fuentes
$thin: 300;
$regular : 400;
$bold: 700;
$thicker: 900;