@use 'base/variables' as v;
@use 'sass:color';

.appointments {
    list-style: none;
    padding: 0;

    h3 {
        color: v.$creme;
        text-transform: uppercase;
        font-size: 2.5rem;
    }

    li {
        padding: 2rem;
        margin-top: 2rem;
        background-color: v.$black;
        border-radius: 1rem;
        color: v.$white;
        p {
            font-weight: v.$bold;
            color: v.$creme;
            text-transform: uppercase;
        }

        span,
        .service {
            color: v.$white;
            font-weight: v.$regular;
            text-align: left;
            text-transform: capitalize;
        }

    }
}