@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.appointments {
    list-style: none;
    padding: 0;

    h3 {
        color: v.$creme;
        text-transform: uppercase;
        font-size: 2.5rem;
    }

    li {
        padding: 2rem;
        margin-top: 2rem;
        background-color: v.$black;
        border-radius: 1rem;
        color: v.$white;
        p {
            font-weight: v.$bold;
            color: v.$creme;
            text-transform: uppercase;
        }

        span,
        .service {
            color: v.$white;
            font-weight: v.$regular;
            text-align: left;
            text-transform: capitalize;
        }

    }
}

.services {
    @extend .appointments;
    text-align: center;

    li {
        text-align: center;
    }

    .actions {
        margin: 0;
    }
    .btn, .btn--delete {
        margin: 0;
        margin-bottom: 3rem;
        @include m.phone {
            margin: 1rem;
        }
    }

}