@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.logo {
    width: 50rem;
    display: block;
    margin: 0 auto; 
}

.container-app {
    display: flex;
    flex-direction: column;
    align-items: center; // Centra los elementos horizontalmente
    justify-content: center; // Centra los elementos verticalmente
    min-height: 100vh;
    position: relative; // Asegura que el contenido se posicione correctamente

    @include m.tablet {
        display: grid;
        grid-template-columns: 1fr 1fr; // Dos columnas, una para la imagen y otra para el contenido
        min-height: 100vh;
    }

    .image {
        height: 100%; // Asegura que la imagen ocupe toda la altura disponible
        background-image: url('../img/person.webp');
        background-size: 70%;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative; // Mantiene la imagen en su lugar

        @include m.tablet {
            height: 100vh; // Asegura que la imagen ocupe toda la altura de la pantalla
        }
    }

    .app {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
        margin: 0 auto;
        padding: 3rem 0;
        z-index: 1; // Asegura que el contenido esté por encima de la imagen de fondo
    }
}

.profile-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
        margin-right: 2rem;
        span {
            font-weight: v.$bold;
            text-decoration: underline;
        }
    }
    .btn-logout {
        background-color: v.$white;
        color: v.$black;
        padding: 1rem;
        border: none;
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
        transition: background-color 0.3s;

        &:hover {
            background-color: color.adjust(v.$black, $lightness: 80%);
        }
    }
}